.posts {
  .resize-y {
    resize: vertical;
  }

  .post {
    .post-detail {
      padding: 10px;
      border-bottom: 1px solid #ccc;

      .post-header {
        margin: 0;

        .username {
          font-weight: bold;
        }
      }

      .actions {
        margin: 0;
      }

      &:hover {
        background: #FEFFBE;
      }
    }
  }

  .comments {
    padding-left: 20px;
    border-bottom: 1px solid #ccc;

    .comment {
      border-bottom: 1px solid #ccc;
      padding: 10px;

      &:hover {
        background: #D6FFAF;
      }
    }

    .comment:last-child {
      border-bottom: none;
    }

    .comment-form {
      margin: 10px 0;
    }
  }
}
